* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: initial;
    height: 100vh;
    width: 30vw;
    background: rgb(154,154,154);
    background: linear-gradient(90deg, rgb(154, 154, 154) 0%, rgb(93,93,186) 50%, rgb(154,154,154) 100%);
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 10vh;
    background-color: rgb(86, 192, 228);
    border-left: 0.4vw dashed black;
    border-right: 0.4vw dashed black;
    border-bottom: 0.4vw dashed black;
    border-radius: 0 0 2vw 2vw;
}

.title {
    font-family: sans-serif;
    font-size: 4vh;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 8vh 5vh;
    flex: 1;
    width: 25vw;
    background: rgb(220, 231, 245);
    background: linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(156, 199, 255) 12%, rgb(156, 199, 255) 88%, rgb(236, 236, 236) 100%);
    border-radius: 0 0 4vw 4vw;
}

.options-label {
    font-size: 4vh;
    font-family: sans-serif;
    text-align: center;
}

#update-pixel-canvas {
    padding: 1vh;
    border-radius: 1rem;
    font-size: 2vh;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 4vh;
    border-radius: 0 0 0.75vw 0.75vw;
    background-color: rgb(193, 255, 100);
    font-size: 2vh;
}

.pixel-canvas {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pixel-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    padding: .75vh;
    gap: .75vh;
    width: 90vh;
    height: 90vh;
    background-color: black;
}

.row-wrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    gap: .75vh;
}

.pixel {
    flex: 1;
    background-color: rgb(255, 254, 241);
    transition: all 0.25s ease;
}

.highlight {
    background-color: red;
}
