* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: .75vh;
    gap: .75vh;
    width: 90vh;
    height: 90vh;
    background-color: black;
}

.row-wrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    gap: .75vh;
}

.pixel {
    flex: 1;
    background-color: rgb(255, 254, 241);
}
